{% set variant = variant|default('purple') %}
{% set size = size|default('md') %}
{% set showIcon = showIcon|default(true) %}

{% set iconSizes = {
	'xs': '20',
	'sm': '24',
	'md': '32',
	'lg': '40'
} %}

<a href="{{ link }}" target="{{ target }}" class="{{ html_classes('inline-flex items-center justify-center rounded-full transition-all duration-200', {
	'bg-purple-dark text-gray-6 border-2 border-purple-dark': variant == 'purple',
	'bg-green-dark text-gray-6 border-2 border-green-default': variant == 'green',
	'bg-background text-green-default border-2 border-green-default font-semibold': variant == 'border',
	'px-5.5 py-1.5 font-semibold text-[14px] leading-[auto] tracking-normal gap-1': size == 'xs',
	'px-2.5 py-1 text-sm gap-1': size == 'sm',
	'px-3 py-1.5 text-base gap-1.5': size == 'md',
	'px-8 py-4 font-semibold text-[13px] leading-[auto] tracking-normal uppercase gap-2 w-full': size == 'lg'
}) }}">
	<span>{{ text }}</span>
	{% if showIcon %}
		{% set iconSize = iconSizes[size] %}
		<svg class="flex-none" width="{{ iconSize }}" height="{{ iconSize }}" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect width="32" height="32" rx="16" fill="currentColor" fill-opacity="0.15"/>
			<path d="M15.9718 9.19928H22.8007V15.9718" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M9.19934 22.8007L22.8008 9.19928" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% endif %}
</a>