{% set type = type|default('input') %}
{% set input_type = input_type|default('text') %}
{% set required = required|default(false) %}
{% set rows = rows|default(4) %}

<label class="block pt-2.5 lg:pt-6.5">
	<span class="sr-only">{{ label }}</span>

	<div class="flex align-middle relative rounded-xl border border-[#C7C7C7] bg-transparent min-h-12 px-3 py-2 {{ class|default('') }}">
		{% if label %}
			<span class="absolute left-2 top-0 -translate-y-1/2 text-body-13 leading-3 lg:text-[15px] lg:leading-5 text-[#969998] bg-white px-1">
				{{ label }}
				{% if required %}
					*
				{% endif %}
			</span>
		{% endif %}

		{% if type == 'select' %}
			<select name="{{ name }}" {% if required %} required {% endif %} class="w-full bg-transparent text-body-13 lg:text-base text-green-default placeholder:text-[#969998] focus:outline-none appearance-none pr-8 md:text-[16px]">
				{% if placeholder %}
					<option value="" selected disabled>{{ placeholder }}</option>
				{% endif %}
				{% for option in options|default([]) %}
					<option value="{{ option.value }}" {% if value is defined and value == option.value %} selected {% endif %}>
						{{ option.label }}
					</option>
				{% endfor %}
			</select>
			<svg class="pointer-events-none absolute right-3 top-1/2 -translate-y-1/2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M5 7.5L10 12.5L15 7.5" stroke="#969998" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>

		{% elseif type == 'textarea' %}
			<textarea name="{{ name }}" rows="{{ rows }}" {% if required %} required {% endif %} placeholder="{{ placeholder }}" class="w-full min-h-23 mt-0.5 bg-transparent text-body-13 lg:text-base text-green-default placeholder:text-[#969998] focus:outline-none resize-none md:text-[16px]">{{ value|default('') }}</textarea>
		{% else %}
			<input type="{{ input_type }}" name="{{ name }}" {% if required %} required {% endif %} placeholder="{{ placeholder }}" value="{{ value|default('') }}" class="w-full bg-transparent text-body-13 lg:text-base text-green-default placeholder:text-[#969998] focus:outline-none md:text-[16px]"/>
		{% endif %}
	</div>
</label>
