<div class="flex flex-col rounded-xl overflow-hidden border border-[#E0E0D7] text-gray-1 group [&.active]:text-white [&.active]:bg-green-easy [&.active]:border-green-easy">
	{# Image #}
    <img 
        src="{{ item.image }}" 
        alt="{{ item.name }}" 
        class="h-38.5 w-full object-cover"
    >

	{# Content #}
	<div class="flex flex-col justify-between gap-2 p-2 flex-1">
		<h3 class="text-body-15 font-semibold mb-2">
			{{ item.name }}
		</h3>

		<div class="flex items-center justify-between">
			<span class="text-[16px] font-bold pl-1">
				{{ item.price }}
			</span>

			<button 
				type="button"
				class="addition-toggle p-2 rounded-xl border border-current text-green-default group-[.active]:text-white bg-[#A5AB5F]/25 flex items-center justify-center transition-all hover:bg-green-default hover:text-white"
				data-addition-id="{{ item.id }}"
				data-addition-price="{{ item.price }}"
				data-addition-name="{{ item.name }}"
				data-selected="false"
			>
                <svg class="addition-icon-plus" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 4.16663V15.8333" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.8335 10H4.16683" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                <svg class="addition-icon-minus hidden" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.8335 10H4.16683" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
			</button>
		</div>
	</div>
</div>
