<div class="flex flex-col rounded-xl overflow-hidden bg-white border border-[#E0E0D7] text-gray-1 group [&.active]:text-white [&.active]:bg-green-easy [&.active]:border-green-easy lg:flex-row lg:rounded-2xl lg:p-3 lg:gap-3 lg:items-start lg:overflow-visible">
	{# Image #}
    <img
        src="{{ item.image }}"
        alt="{{ item.name }}"
        class="h-38.5 w-full object-cover lg:h-auto lg:w-20 lg:aspect-square lg:shrink-0 lg:rounded-xl"
    >

	{# Content #}
	<div class="flex flex-col justify-between p-2 flex-1 lg:p-0 lg:h-full">
		<h3 class="text-body-15 font-semibold leading-tight mb-2 lg:mb-0">
			{{ item.name }}
		</h3>

		<div class="flex items-center justify-between ">
			<span class="text-[16px] font-bold pl-1">
				{{ item.price }}
			</span>

			<button
				type="button"
				class="addition-toggle p-2 rounded-xl border border-current text-green-default group-[.active]:text-white bg-[#A5AB5F]/25 flex items-center justify-center transition-all hover:bg-green-default hover:text-white"
				data-addition-id="{{ item.id }}"
				data-addition-price="{{ item.price }}"
				data-addition-name="{{ item.name }}"
				data-selected="false"
			>
                <svg class="addition-icon-plus" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 4.16663V15.8333" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.8335 10H4.16683" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                <svg class="addition-icon-minus hidden" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.8335 10H4.16683" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
			</button>
		</div>
	</div>
</div>
