<div class="relative w-full">
	<div class="swiper product-gallery-swiper">
		<div class="swiper-wrapper">
			{% for image in images %}
				<div class="swiper-slide">
					<a href="{{ image.src }}" class="lightgallery-item">
						<div class="relative w-full">
							<img 
								src="{{ image.src }}" 
								alt="{{ image.alt|default('Product image') }}" 
								class="w-full h-full object-cover aspect-394/274"
							>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
        {% if badges is defined and badges|length > 0 %}
            <div class="absolute top-2 right-2 flex flex-wrap gap-1.5 z-10">
                {% for badge in badges %}
                    <span class="{{html_classes('flex items-center px-3 py-1 bg-purple backdrop-blur-md text-white text-[10px] uppercase rounded-full whitespace-nowrap', { 'bg-purple-dark': badge == 'Dostawa Gratis'}) }}">
                        {{ badge }}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
	</div>

	{# Navigation arrows #}
	<div class="product-gallery-prev absolute left-3 top-1/2 -translate-y-1/2 z-10 cursor-pointer">
		<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M14 0.5C6.54416 0.5 0.5 6.54416 0.5 14C0.5 21.4558 6.54416 27.5 14 27.5C21.4558 27.5 27.5 21.4558 27.5 14C27.5 6.54416 21.4558 0.5 14 0.5Z" fill="white" fill-opacity="0.25"/>
			<path d="M14 0.5C6.54416 0.5 0.5 6.54416 0.5 14C0.5 21.4558 6.54416 27.5 14 27.5C21.4558 27.5 27.5 21.4558 27.5 14C27.5 6.54416 21.4558 0.5 14 0.5Z" stroke="#FCF9F6"/>
			<path d="M16.5 19L11.5 14L16.5 9" stroke="#FCF9F6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	</div>
	<div class="product-gallery-next absolute right-3 top-1/2 -translate-y-1/2 z-10 cursor-pointer">
		<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect x="0.5" y="0.5" width="27" height="27" rx="13.5" fill="white" fill-opacity="0.25"/>
			<rect x="0.5" y="0.5" width="27" height="27" rx="13.5" stroke="#FCF9F6"/>
			<path d="M11.5 19L16.5 14L11.5 9" stroke="#FCF9F6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	</div>
</div>
