<div class="flex flex-col justify-center items-start mt-4.5 p-0 pb-3 gap-2 w-71.5 bg-white border border-white overflow-hidden hover:brightness-105 transition cursor-pointer">

	<div class="relative w-full overflow-hidden">
		<img src="{{ item.img.src|default('/images/placeholder.jpg') }}" alt="{{ item.img.alt }}" class="w-full h-full object-cover aspect-square">
		{% if item.badges is defined %}
			<div class="absolute top-1.25 left-1.25  flex gap-1.5">
				{% for badge in badges %}
					<span class="{{html_classes("flex items-center h-6.25 px-3 py-1 bg-purple backdrop-blur-md text-white text-[10px] uppercase rounded-full whitespace-nowrap", {"bg-purple-dark": badge == 'Dostawa Gratis'}) }}">
						{{ badge }}
					</span>
				{% endfor %}
			</div>
		{% endif %}
	</div>

	<div class="px-4 w-full">
		<h3 class="text-dark-text text-sm font-bold uppercase truncate">
			{{ item.name|default('Bukiet Malinowa Pianka') }}
		</h3>
		<p class="text-dark-text text-base">
			<span class="text-[13px] font-normal">od</span>
			<span class="text-sm font-bold lining-nums">{{ item.price|default('169.00 zł') }}</span>
		</p>
	</div>
</div>
