<section class="text-dark-text md:pb-10 lg:pb-25">
  {% embed "../layouts/container.twig" %}
    {% block content %}
      {% if fields.title %}
        <div class="mb-6 lg:mb-12">
          <h2 class="text-h2 md:text-[40px] md:leading-normal">{{ fields.title }}</h2>
        </div>
      {% endif %}

      {% if fields.list %}
        <div x-data="accordion" class="divide-y divide-[#E0E0D7] lg:border-y lg:border-[#E0E0D7]">
          {% for item in fields.list %}
            <div class="overflow-hidden py-4 lg:py-6">
              
              <button
                @click="toggle('faq-{{ loop.index }}')"
                class="w-full grid grid-cols-12 gap-4 items-center text-left"
                :aria-expanded="isActive('faq-{{ loop.index }}')"
              >
                <div class="hidden col-span-2 lg:col-span-6 font-bold text-[16px] text-green-dark lg:block">
                  {{ "%02d"|format(loop.index) }}
                </div>
                
                <div class="col-span-12 lg:col-span-6 flex items-center justify-between">
                  <span class="text-h3 pr-6.5 text-green-default md:text-[22px]">{{ item.title }}</span>
                  <div class="relative size-6 shrink-0">
                    <span
                      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-4 h-0.5 bg-dark-text transition-transform duration-300"
                      :class="{ 'rotate-0': !isActive('faq-{{ loop.index }}'), 'rotate-180': isActive('faq-{{ loop.index }}') }"
                    ></span>
                    <span
                      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-4 h-0.5 bg-dark-text transition-transform duration-300 origin-center"
                      :class="{ 'rotate-90': !isActive('faq-{{ loop.index }}'), 'rotate-0': isActive('faq-{{ loop.index }}') }"
                    ></span>
                  </div>
                </div>
              </button>

              <div
                x-show="isActive('faq-{{ loop.index }}')"
                x-collapse
              >
                <div class="grid grid-cols-12 gap-4 pt-2 md:pt-4">
                  <div class="hidden lg:block lg:col-span-6"></div> <div class="col-span-12 lg:col-span-6 text-body-13 text-green-dark md:text-[16px]">
                    {{ item.text }}
                  </div>
                </div>
              </div>
              
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {{ fields.list|faq_schema|raw }}
    {% endblock %}
  {% endembed %}
</section>