<section class="text-dark-text">
	{% embed "../layouts/container.twig" %}
		{% block content %}
			{% if fields.title %}
				<div class="mb-6">
					<h2 class="text-h2 md:text-[40px] md:leading-normal">{{ fields.title }}</h2>
				</div>
			{% endif %}

			{% if fields.items %}
			<div class="grid grid-cols-1 md:grid-cols-6 gap-3">
			  {% for item in fields.items %}
			    {% set spanClass = loop.index <= 3 ? 'md:col-span-2' : 'md:col-span-3' %}

			    <div class="{{ spanClass }} px-4 py-5 bg-[#F6EDDB] flex flex-col gap-2 text-green-dark">
			      <div class="flex items-center gap-2.5">
			        {% if item.icon %}
			          <img src="{{ item.icon }}" alt="{{ item.title }}" width="20" height="20" class="size-5 flex-none">
			        {% endif %}
			        <h3 class="text-h3">{{ item.title }}</h3>
			      </div>
			      <p class="text-body-15">{{ item.description }}</p>
			    </div>

			  {% endfor %}
			</div>
			{% endif %}
		{% endblock %}
	{% endembed %}
</section>
