<section class="text-dark-text">
	{% embed "../layouts/container.twig" %}
		{% block content %}
			{% if fields.title %}
				<div class="mb-6">
					<h2 class="text-h2 md:text-[40px] md:leading-tight md:font-bold">{{ fields.title }}</h2>
				</div>
			{% endif %}

			{% if fields.items %}
				<div class="grid grid-cols-1 gap-3 lg:grid-cols-6">
					{% for item in fields.items %}
						<div class="flex flex-col gap-2 rounded-sm bg-[#F6EDDB] px-5 py-4 text-green-dark lg:col-span-2 lg:p-8 [&:nth-child(4)]:lg:col-span-3 [&:nth-child(5)]:lg:col-span-3">
							<div class="flex items-center gap-2.5">
								{% if item.icon %}
									<img src="{{ item.icon }}" alt="{{ item.title }}" width="20" height="20" class="size-5 flex-none">
								{% endif %}
								<h3 class="text-h3 font-semibold">{{ item.title }}</h3>
							</div>
							<p class="text-body-15 text-gray-600">{{ item.description }}</p>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		{% endblock %}
	{% endembed %}
</section>
