<section class="mt-24">
	{% embed "../layouts/container.twig" %}
		{% block content %}

			<div class="relative overflow-hidden w-full p-3 pb-1.5 rounded-2xl z-0">
				{% if fields.hero.title %}
					<h1 class="flex flex-col justify-center mb-3 text-dark-text">{{ fields.hero.title|fancy_title }}</h1>
				{% endif %}
				{% if fields.hero.advantages %}
					<ul class="flex flex-wrap gap-1.5">
						{% for advantage in fields.hero.advantages %}
							<li class="flex shrink items-center gap-1 bg-accent border border-background rounded-2xl px-2">
								<span class="text-xs text-dark-text">{{ advantage }}</span>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				{% if fields.hero.img %}
					<img src="{{ fields.hero.img.src }}" alt="{{ fields.hero.img.alt|default("Hero Image") }}" fetchpriority="high" class="absolute top-1/2 -translate-y-1/2 right-0 -z-20 w-[50%]"/>
					<div class="absolute inset-0 -z-10 w-full bg-linear-to-r from-50% to-70% from-[#F9F3EB] to-[#f9f3eb00]"></div>
				{% endif %}
			</div>

			<div class="grid grid-cols-2 gap-1.25 auto-rows-min mt-6">
				{% if fields.product %}
					<div class="relative overflow-hidden rounded-2xl row-span-2 hover:brightness-105 transition cursor-pointer">
						<img src="{{ fields.product.img.src }}" class="absolute inset-0 w-full h-full object-cover" alt="{{ fields.product.img.alt }}">
						<a href="{{ fields.product.link }}" target="{{ fields.product.target|default('_self') }}" class="flex items-center absolute w-max max-w-11/12 bottom-1 left-1/2 -translate-x-1/2 bg-black/60 px-2.5 py-1 rounded-2xl text-background text-[14px] leading-4 font-semibold text-center before:absolute before:inset-0">
							{{fields.product.name}}
						</a>
					</div>
				{% endif %}
				{% if fields.categories|length %}
					{% for item in fields.categories %}
						{% if item.link %}
							<div class="relative flex items-center bg-[#F2EDE1] rounded-2xl overflow-hidden hover:bg-[#F2EDE1]/80 transition-colors cursor-pointer">
								<img src="{{ item.img.src }}" class="size-12.75 object-cover flex-none" alt="{{ item.img.alt }}">
								<a href="{{ item.link }}" target="{{ item.target|default('_self') }}" class="text-dark-text text-body-15 px-2.5 before:absolute before:inset-0">
									{{ item.name }}
								</a>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>

		{% endblock %}
	{% endembed %}
</section>
