<footer class="rounded-t-3xl bg-primary text-white pt-8 pb-10 md:pt-12 md:pb-14">
    <div class="max-w-360 w-full mx-auto px-4 md:px-8 lg:px-12">
        <div class="flex flex-col md:flex-row pb-6 md:pb-8 border-b border-white/20 mb-6 md:mb-8 gap-6 md:gap-0">
            {# logo #}
            {% if logo.light %}
                <div class="md:mr-8 xl:mr-33.25 flex-none">
                    <img src="{{ logo.light }}" alt="Unbroken University Logo" width="94" height="46" class="w-20 h-auto md:md:w-23.5"/>
                </div>
            {% endif %}
            {# socials #}
            {% if socials %}
                <div class="md:w-auto lg:w-51.75 md:mr-8 flex-none">
                    <span class="block mb-3 text-sm md:text-base">Наші соціальні мережі</span>
                    <ul class="flex flex-wrap gap-3">
                        {% for item in socials %}
                            <li>
                                <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ item.icon|capitalize }}">
                                    {{ item.icon }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {# menu.footer.main #}
            {% if menu.footer.main %}
                <nav class="flex-1">
                    <ul class="columns-1 sm:columns-2 lg:columns-3 space-y-3 gap-x-5 md:w-auto xl:w-165.75 xl:ml-auto">
                        {% for item in menu.footer.main %}
                            <li><a href="{{ item.url }}" class="text-sm md:text-base">{{ item.label }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
        </div>
        <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-6 md:gap-0">
            <div class="order-2 md:order-1">
                {% if menu.footer.secondary %}
                    <ul class="flex flex-wrap gap-y-2 gap-x-4 md:gap-y-3 md:gap-x-5 mb-4 md:mb-6">
                        {% for item in menu.footer.secondary %}
                            <li><a href="{{ item.url }}" class="text-xs md:text-sm">{{ item.label }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="text-[10px] md:text-[12px]">UNBROKEN UNIVERSITY 2026</p>
            </div>
            {% if logo.linewood %}
                <div class="order-1 md:order-2">
                    <img src="{{ logo.linewood }}" alt="Linewood Software Logo" width="97" height="28" class="w-20 h-auto md:w-24.25"/>
                </div>
            {% endif %}
        </div>
    </div>
</footer>
<nav class="px-6 py-3 bg-[#072114] sticky bottom-0 inset-x-0 w-full z-50" aria-label="Bottom navigation">
  <ul class="flex justify-between items-center">
    {% for item in [
        {
            "id": "home",
            "name": "Home",
            "type": "link",
            'icon': '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 9L12 2L21 9V20C21 20.5304 20.7893 21.0391 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20V9Z" stroke="#F2F2F2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9 22V12H15V22" stroke="#F2F2F2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>',
            "meta": {
                "url" : "/",
                "target": "_self",
            },
        },
        {
            "id": "search",
            "name": "Search",
            "type": "button",
            'icon': '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#F2F2F2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M20.9999 20.9999L16.6499 16.6499" stroke="#F2F2F2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>',
            "meta": {}
        },
        {
            "id": "cart",
            "name": "Cart",
            "type": "link",
            'icon': '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 22C8.55228 22 9 21.5523 9 21C9 20.4477 8.55228 20 8 20C7.44772 20 7 20.4477 7 21C7 21.5523 7.44772 22 8 22Z" stroke="#F2F2F2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M19 22C19.5523 22 20 21.5523 20 21C20 20.4477 19.5523 20 19 20C18.4477 20 18 20.4477 18 21C18 21.5523 18.4477 22 19 22Z" stroke="#F2F2F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2.0498 2.0498H4.0498L6.7098 14.4698C6.80738 14.9247 7.06048 15.3313 7.42552 15.6197C7.79056 15.908 8.24471 16.0602 8.7098 16.0498H18.4898C18.945 16.0491 19.3863 15.8931 19.7408 15.6076C20.0954 15.3222 20.3419 14.9243 20.4398 14.4798L22.0898 7.0498H5.1198" stroke="#F2F2F2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>',
            "meta": {
                "url" : "/cart",
                "target": "_self",
                "count": 3
            }
        },
        {
            "id": "menu",
            "name": "Menu",
            "type": "button",
            'icon': '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12H20" stroke="#F2F2F2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4 6H20" stroke="#F2F2F2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4 18H20" stroke="#F2F2F2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>',
            "meta": {
                "onClick": "toggleMenu()"
            }
        }
    ] %}
        <li>
            {% if item.type == 'link' %}
                <a href="{{ item.meta.url }}" target="{{ item.meta.target }}" class="text-gray-6 text-[14px] leading-4.75 relative">
                    {{ item.icon }}
                    <span data-count="{{ item.meta.count|default(0) }}" class="absolute before:content-[attr(data-count)] data-[count=0]:hidden bottom-2 left-2 size-5.5 bg-[#EB5757] text-background text-[13px] font-semibold leading-none rounded-full flex items-center justify-center text-center"></span>
                </a>
            {% elseif item.type == 'button' %}
                <button type="button" onclick="{{ item.meta.onClick }}" class="text-gray-6 text-[14px] leading-4.75 relative">
                    {{ item.icon }}
                </button>
            {% endif %}
        </li>
    {% endfor %}
  </ul>
</nav>