<footer class="bg-[#03130B] text-white p-5 pt-8 flex flex-col gap-14">
    <div class="flex items-center gap-8.75">
        {# logo #}
        {% if logo.light %}
            <img src="{{ logo.light }}" alt="Logo" width="90" height="43" class="w-22.5 h-auto"/>
        {% endif %}
        <p class="text-[15px] leading-4.5 text-gray-4 text-balance">Kwiaty Bukiety – dostawa na terenie całej Polski</p>
    </div>

    {# Contacts #}
    <ul class="flex flex-col gap-5">
        {% for item in [
            {
                "type": "phone",
                "icon": "/socials/phone.svg",
                "value": "+48 797 115 220",
                "details": null
            },
            {
                "type": "email",
                "icon": "/socials/mail.svg",
                "value": "kwiatybukietycompl@gmail.com",
                "details": null
            },
            {
                "type": "text",
                "icon": "/socials/schedule.svg",
                "value": "Godziny pracy",
                "details": "pn–pt: 10:00–18:00<br>sob: 10:00–15:00"
            }
        ] %}
            <li class="font-semibold">
                <div class="flex items-center gap-3 text-[15px] leading-4.5 text-gray-4">
                    {# Icon #}
                    {% if item.icon %}
                        <img src="{{ item.icon }}" alt="{{ item.type|capitalize }} Icon" class="inline-block"/>
                    {% endif %}

                    {# Text #}
                    {% if item.type == 'phone' %}
                        <a href="tel:{{ item.value }}" class="text-sm md:text-base">{{ item.value }}</a>
                    {% elseif item.type == 'email' %}
                        <a href="mailto:{{ item.value }}" class="text-sm md:text-base">{{ item.value }}</a>
                    {% else %}
                        <span class="text-sm md:text-base">{{ item.value }}</span>
                    {% endif %}
                </div>
                {% if item.details %}
                    <p class="text-xs md:text-sm text-gray-3 mt-1.5 pl-9.25">{{ item.details|raw }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <div class="flex flex-col gap-12">
        {# Menu #}
        {% if menu.footer.main or menu.footer.secondary %}
            <nav aria-label="Footer navigation" class="flex flex-col gap-14 text-[13px] font-semibold leading-3.75 uppercase">
                {% if menu.footer.main %}
                    <ul class="columns-1 space-y-5">
                        {% for item in menu.footer.main %}
                            <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if menu.footer.secondary %}
                    <ul class="columns-2 space-y-5 gap-x-6">
                        {% for item in menu.footer.secondary %}
                            <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </nav>
        {% endif %}

        {# Socials #}
        {% if socials %}
            <ul class="flex flex-wrap justify-center gap-12">
                {% for item in socials %}
                    <li>
                        <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ item.label }}">
                            <img src="{{ item.icon }}" alt="{{ item.label }} Icon" width="32" height="32" class="size-8"/>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="text-center">© {{ "now"|date("Y") }} Kwiaty Bukiety</div>
    </div>
</footer>
